/*  FordRepairForum.css */

:root {
	--background-color: grey;
	--header-border-color: black;
	--title-border-color: red;
	--form-border-color: blue;
	--form-element-size: 100px;
}

html, body{
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
}

.containsWholePage {
	width: auto;
	margin: 0 auto;
	background-color: whitesmoke;
	padding: 5px;
}

nav {
	background-color: grey;
	text-align: center;
	/* border: 1px solid green;  */
	overflow: auto;
	padding: 1px;
}

nav ul li {
	display: inline;
	margin: auto;
}

nav ul {
	margin: auto;
	overflow: auto;
}

nav li{
	width: 33%
}

nav a{
	color: white;
}

nav a:hover{
	color: black;
	background-color: yellow;
}

nav a:active{
	color: blue;
}

nav a:visited{
	color: blue;
}

header, footer {
	background-color: white;
	border: solid 1px lightgrey;
	padding: 1px;
	border-radius: 3px;
}

header {
	
}

.borderedDiv{
	/* border-radius: 3px; */
	/* border: solid 1px pink; */
	/* padding: 1px; */
}

.loginForm {
	padding: 5px;
	background-color: lightgrey;
}

.loginForm label{
	display: inline-block;
	font-size: 15px;
	width: var(--form-element-size);
}

.loginForm input[type=text]{
	margin: 2px;
	display: inline-block;
	font-size: 15px;
	border: 1px solid lightgrey;
	width: var(--form-element-size);
}

.formButton {
	display: inline-block;
	background-color: whitesmoke;
	border: 1px solid silver;
	font-size: 12px;
	padding: 5px;
	height: 24px;
	margin: 5px;
	transition: backrgound-color, .5s;
}

.formButton:hover {
	background-color: lightgrey;
}

#headerDiv {
	/* border: 1px solid var(--header-border-color); */
	padding: 1px;
	clear: both;
	overflow: auto;
}

#headerForm {
	/* border: 1px solid var(--form-border-color); */
	float: right;
	width: 300px;
}

#headerTitle {
	margin: auto;
	width: 50%;
	/* padding: 50px; */
	
	line-height: 119px;
	height: 119px;
	display: inline-block;	
	height: 119px;
	
	/* border: 1px solid var(--title-border-color); */
	vertical-align: center;
	align: left;
	font-weight: bold;
	font-size: 15px;
}

#register {
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#forgotPassword {
	text-decoration: none;
	float: right;
	color: black;
	font-size: 14px;
}

